:host {
  width: 250px;
  height: 100px;
  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border: 2px solid #2196F3;
    border-radius: 5px;
    background-color: cornflowerblue;
    &.grey {
      background-color: grey;
    }
    &.red {
      background-color: red;
    }
  }
}
