:host {
  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid #2196F3;
    border-radius: 5px;
    background-color: grey;
    &.blue {
      background-color: cornflowerblue;
    }
    &.red {
      background-color: red;
    }
  }
}
