:host {
  display: block;
  height: 100%;
  width: 100%;

  .order {
    display: flex;
    flex-direction: column;

    .order-header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      gap: 10px;

      .title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
