:host {
  display: block;
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    .title {}
    .menu-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .category {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .item {
          display: flex;
          align-items: center;
          gap: 7px;
        }
      }
    }
  }
}
